<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frisbee Golf Game JSON Auto-Generator</title>
    <link rel="stylesheet" href="../../stylesheet.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div class="header">
        <h1>OkayuCDN Manager<br>Frisbee Golf Game JSON Auto-Generator</h1>
        <button class="return" onclick="window.location.href = '../../'">Return</button>
    </div>
    <hr class="headersplit">

    <form class="scoregenform" method="POST" action="/api/createJSON">
        <div class="players">
            <div class="player">
                <h1>playerA</h1><input type="text" placeholder="Player Name" name="namA">
                <div class="gen_scores">
                    <br><br>
                    <input type="text" placeholder="Hole 1" name="A1">
                    <input type="text" placeholder="Hole 2" name="A2">
                    <input type="text" placeholder="Hole 3" name="A3">
                    <input type="text" placeholder="Hole 4" name="A4">
                    <input type="text" placeholder="Hole 5" name="A5">
                    <input type="text" placeholder="Hole 6" name="A6">
                    <input type="text" placeholder="Hole 7" name="A7">
                    <input type="text" placeholder="Hole 8" name="A8">
                    <input type="text" placeholder="Hole 9" name="A9">
                </div>
                <hr>
            </div>
            <div class="playerB">
                <h1>playerB</h1><input type="text" placeholder="Player Name" name="namB">
                <div class="gen_scores">
                    <br><br>
                    <input type="text" placeholder="Hole 1" name="B1">
                    <input type="text" placeholder="Hole 2" name="B2">
                    <input type="text" placeholder="Hole 3" name="B3">
                    <input type="text" placeholder="Hole 4" name="B4">
                    <input type="text" placeholder="Hole 5" name="B5">
                    <input type="text" placeholder="Hole 6" name="B6">
                    <input type="text" placeholder="Hole 7" name="B7">
                    <input type="text" placeholder="Hole 8" name="B8">
                    <input type="text" placeholder="Hole 9" name="B9">
                </div>
                <hr>
            </div>
            <div class="playerC">
                <h1>playerC</h1><input type="text" placeholder="Player Name" name="namC">
                <div class="gen_scores">
                    <br><br>
                    <input type="text" placeholder="Hole 1" name="C1">
                    <input type="text" placeholder="Hole 2" name="C2">
                    <input type="text" placeholder="Hole 3" name="C3">
                    <input type="text" placeholder="Hole 4" name="C4">
                    <input type="text" placeholder="Hole 5" name="C5">
                    <input type="text" placeholder="Hole 6" name="C6">
                    <input type="text" placeholder="Hole 7" name="C7">
                    <input type="text" placeholder="Hole 8" name="C8">
                    <input type="text" placeholder="Hole 9" name="C9">
                </div>
                <hr>
            </div>
            <div class="playerD">
                <h1>playerD</h1><input type="text" placeholder="Player Name" name="namD">
                <div class="gen_scores">
                    <br><br>
                    <input type="text" placeholder="Hole 1" name="D1">
                    <input type="text" placeholder="Hole 2" name="D2">
                    <input type="text" placeholder="Hole 3" name="D3">
                    <input type="text" placeholder="Hole 4" name="D4">
                    <input type="text" placeholder="Hole 5" name="D5">
                    <input type="text" placeholder="Hole 6" name="D6">
                    <input type="text" placeholder="Hole 7" name="D7">
                    <input type="text" placeholder="Hole 8" name="D8">
                    <input type="text" placeholder="Hole 9" name="D9">
                </div>
                <hr>
            </div>
            <div class="playerE">
                <h1>playerE</h1><input type="text" placeholder="Player Name" name="namE">
                <div class="gen_scores">
                    <br><br>
                    <input type="text" placeholder="Hole 1" name="E1">
                    <input type="text" placeholder="Hole 2" name="E2">
                    <input type="text" placeholder="Hole 3" name="E3">
                    <input type="text" placeholder="Hole 4" name="E4">
                    <input type="text" placeholder="Hole 5" name="E5">
                    <input type="text" placeholder="Hole 6" name="E6">
                    <input type="text" placeholder="Hole 7" name="E7">
                    <input type="text" placeholder="Hole 8" name="E8">
                    <input type="text" placeholder="Hole 9" name="E9">
                </div>
                <hr>
                <input class="submitJSON" type="submit" value="Generate and Upload">
            </div>
        </div>
    </form>

    <!-- keep last ... REMEMBER TO CHANGE!! -->
</body>
</html>